body
{
    text-align: center;
    background-color: green !important;
}

.jsCalc
{
    font-weight: bold;
}

/*set the dimension of the calculator */
.calculator 
{
	background-color: green;
	-webkit-box-shadow: -1px 4px 61px 16px rgba(0,0,0,0.32);
	-moz-box-shadow: -1px 4px 61px 16px rgba(0,0,0,0.32);
	border-radius: 15px;
	width: 275px;
	height: 350px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: -1px 4px 61px 16px rgba(0,0,0,0.32);	
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,6d1e1e+100 */
	
    background: #cc0000; 
    /* Old browsers */
	
    background: -moz-linear-gradient(-45deg,  #cc0000 0%, #6d1e1e 100%); 
    /* FF3.6+ */
	
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cc0000), color-
    stop(100%,#6d1e1e)); 
    /* Chrome,Safari4+ */
	
    background: -webkit-linear-gradient(-45deg,  #cc0000 0%,#6d1e1e 100%);
    /* Chrome10+,Safari5.1+ */
	
    background: -o-linear-gradient(-45deg,  #cc0000 0%,#6d1e1e 100%); 
    /* Opera 11.10+ */
	
    background: -ms-linear-gradient(-45deg,  #cc0000 0%,#6d1e1e 100%); 
    /* IE10+ */
	
    background: linear-gradient(135deg,  #cc0000 0%,#6d1e1e 100%); 
    /* W3C */
	
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#6d1e1e',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

/*set the elements of the calc*/
#display
{
	position: relative;
	height: 30px;
	width: 200px;
	font-size: 16px;
	top: 20px;
	margin: auto;
	border-radius: 3px;
	text-align: center;
}

/*output area*/
#txtarea
{
	width: 240px;
    height: 45px;
	left: -20px;
	top: -5px;
	color: #294BAE;
	font-size: 25px;
    font-weight: bold;
	-webkit-box-shadow: inset 0px 10px 38px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 10px 38px -8px rgba(0,0,0,0.5);
	border-radius: 5px;
	border-style: none;
	pointer-events: none;

}

.text 
{
	position: relative;
	text-align: left;
}

/*start buttons*/
.buttons 
{
	position: absolute;
	top: 60px;
    
}

button 
{
	color: #8A1C00;
	font-size: 15px;
	background-color: white;
	background-color: #FDFDFD;
	height: 45px;
	width: 45px;
	margin: 1px;
	margin-top: 5px;
	border-radius: 5px;
	outline: none;
}

button:hover 
{
	background-color: #FFFFE5;
}

#zero, #clear
{
	position: relative;
	width: 97px;
}
/*end buttons*/


/*start footer*/
.footer
{
    margin-top: 40px;
    color:#333333;
}

.footer ul
{
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
}

.footer ul li
{
    display: inline-block;
}

.footer ul li i:hover
{
    color: #fff;
}

.cpy a:visited {
    color: black;
}
/*end footer*/

